



.dis2:hover{
    fill: lightslategray;
}

.dis1:hover{
fill: lightslategray
}

.dis3:hover{
    fill: lightslategray;
}

.dis4:hover{
    fill: lightslategray;
}

.dis5:hover{
    fill: lightslategray;
}

.dis6:hover{
    fill: lightslategray;
}

.dis7:hover{
    fill: lightslategray;
}